.Cart {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.CartContainer {
    

    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
}