.products {
    list-style: none;
    margin: 0px auto;
    width: 800px;
    text-align: left;
  }
  
  .error {
    color: red;
  }
  
  .FruitBox {
    background-color: rgb(229, 211, 190);
    width: 250px;
    float: left;
    border: black;
    border-style: solid;
    padding: 12px;
    border-radius: 7px;
    
  }
  
  .Addtocart {
    background-color: rgb(165, 97, 73);
  }
  
  .grid {
    display: grid;
    gap: 5px;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns:auto;
  }