.danger{
    margin-right: 1%;
    background-color:rgb(241, 95, 95);
    width: 30%;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.danger:hover{
    color: white;
    background-color: rgb(124, 3, 3);
    cursor: pointer;
    
}

.add { 
    width: 30%;
    background-color: #55BCC9;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add:hover {
    cursor: pointer;
    background-color: rgb(52, 52, 121);
    color: white;
}

.list {
    margin-left: 5px;
    margin-right:  5px;
    background-color: #97CAEF;
    border-radius: 15px;
    border-style: solid;
    border: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
